Repository Excoriate/glonner-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, infrastructure, documentation, patch, minor

refactor: fix golang-ci linting errors, add dependabot config
  .github/dependabot.yml
  app/.goreleaser.yml
  app/cli/actions/clone.go
  app/cli/actions/list.go
  app/cli/cmd/list.go
  app/cli/go.mod
  app/cli/go.sum
  app/cli/pkg/adapters/rest.go
  app/cli/pkg/clients/github/github.go
  app/cli/pkg/system/cmd.go
  app/cli/pkg/ux/output.go
  app/cli/pkg/ux/progress.go
  app/cli/pkg/ux/spinner.go
  app/cli/pkg/ux/table.go
  app/cli/services/githubsvc.go
Labels: none

refactor: move the env vars support out of the github client, refactor flag treatment in clone cmd
  README.md
  TaskFile.yml
  app/cli/actions/clone.go
  app/cli/actions/list.go
  app/cli/actions/root.go
  app/cli/cmd/root.go
  app/cli/pkg/clients/github/github.go
Labels: documentation, patch

refactor(naming): remove cli suffix, check all task commands
  .gitignore
  TaskFile.yml
  app/Dockerfile
Labels: patch

refactor(golangci): rm temporary lint from github workflows
  .github/workflows/ci-app.yml
  .github/workflows/ci-docker.yml
  .github/workflows/generate-release.yml
  TaskFile.yml
  app/cli/pkg/clients/github/github.go
Labels: ci/cd, patch

docs: fix docs, add proper links, add badges
  README.md
Labels: documentation

ci: add release, add homebrew support
  .github/workflows/generate-release.yml
  app/.goreleaser.yml
Labels: ci/cd

ci: fix gorleaser config
  TaskFile.yml
  app/.goreleaser.yml
Labels: patch

ci: fix gorleaser config
  app/.goreleaser.yml
Labels: none

ci: fix gorleaser config
  app/.goreleaser.yml
Labels: none

ci: fix gorleaser config
  app/.goreleaser.yml
Labels: none

ci: fix gorleaser config
  app/.goreleaser.yml
Labels: none

ci: fix gorleaser config
  app/.goreleaser.yml
Labels: none

fix: correct path on goreleaser config, fix homebrew
  .github/workflows/generate-release.yml
Labels: ci/cd

fix: correct path on goreleaser config, fix homebrew
  app/.goreleaser.yml
Labels: none

fix: correct path on goreleaser config, fix homebrew
  app/.goreleaser.yml
  app/goreleaser-helper.sh
Labels: none

fix: correct path on goreleaser config, fix homebrew
  app/.goreleaser.yml
Labels: none

fix: correct path on goreleaser config, fix homebrew
  .goreleaser.yml
Labels: none

fix: correct path on goreleaser config, fix homebrew
  .goreleaser.yml
Labels: none

fix: correct path on goreleaser config, fix homebrew
  .goreleaser.yml
  app/.goreleaser.yml
Labels: none

fix: correct path on goreleaser config, fix homebrew
  app/cli/.goreleaser.yml
Labels: none

fix: correct path on goreleaser config, fix homebrew
  app/cli/.goreleaser.yml
Labels: none

fix: correct path on goreleaser config, fix homebrew
  app/cli/.goreleaser.yml
Labels: none

fix(goreleaser): add correct path
  .github/workflows/generate-release.yml
  .github/workflows/generate-tag-auto.yml
  .github/workflows/generate-tag.yml
  TaskFile.yml
  app/.goreleaser.yml
  app/cli/.goreleaser.yml
  app/goreleaser-helper.sh
Labels: ci/cd, patch

docs: enhance docs, add preview
  README.md
Labels: documentation

chore: fix email used in issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

fix: pagination ignored 1, treat ssh setup while clonning
  app/cli/actions/clone.go
  app/cli/pkg/clients/github/github.go
Labels: none

.github/labeler.yml:

---
ci/cd:
    - .github/workflows/*

infrastructure:
    - terraform/**

documentation:
    - README.md
    - ./*.md

patch:
    - TaskFile.yml
    - LICENSE
    - .yamllint.yml
    - .eslintrc.yml
    - .prettierrc.yml
    - .stylelintrc.yml
    - .gitignore
    - .gitattributes
    - .shellcheckrc
    - .editorconfig
    - .dockerignore

minor:
    - app/cli/pkg/*
